@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Accounts</title>
</head>
<body>
<div>
      <div style="text-align: center;"><h1>You're admin. You're cool!</h1></div>
</div>
</body>
</html>