@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="text-align: center;"><h1 class="display-4">Welcome to My Bank Application</h1></div>
    <form method="post" action="/Home/LoginPage"> <input type="submit"  value="Log In or Sign Up" /></form>
</div>