@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sign up Error</title>
</head>
<body>
<div>
      <div style="text-align: center;"><h1>User is already registered</h1></div>
</div>
</body>
</html>